<input [(ngModel)]="number">

<div *ngIf="number >= 60">好棒!</div>
<div *ngIf="number <60">好笨!</div>

<div [ngSwitch]="number>=60">
    <div *ngSwitchCase="true">好棒棒</div>
    <div *ngSwitchCase="false">好渣阿</div>
</div>

